@mixin ghost-button{
  @extend button;
  background-color: transparent;
  border: 1px solid $dark-brown;
  color:$dark-brown;
  &:hover{
    background-color: $base-accent-color!important;
    color: white;
    box-shadow:none!important;
      border: 0!important;
  }
}
